.container {
    background: #202020;

    .collapse {
        background-color: transparent;

        .ant-collapse-item {
            padding: 0;

            >.ant-collapse-header {
                height: auto;
                padding: 0 12px;
            }
        }

        .panel {
            border: 0;
        }

        .collapseItem {
            margin: 0 36px;
        }

        .customDivItem {
            margin: 0 12px;
        }
    }

    #expandIcon {
        position: absolute;
        top: 20px;
        left: 28px;
    }
}