.container {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100vh;
    cursor: default;

    .main-part {
        display: flex;
        flex: 1 1;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 100px;
        height: 100vh;
        overflow: visible;
    }
}